.chat {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat .chat__header {
  background: #2a2f32;
  color: grey;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
}

.chat .chat__headerLeft {
  flex: 0.2;
  display: flex;
  justify-content: space-between;
}

.chat .chat__headerLeft .chat__headerInfo h3 {
  font-weight: normal;
  color: #fff;
}

.chat .chat__headerRight button {
  color: grey;
}

.chat__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 4rem;
  background: url("https://user-images.githubusercontent.com/48273777/104119271-47afe480-5354-11eb-8566-f9824e4851ed.jpg");
  background-position: center;
  background-size: 40%;
}

.chat__footer {
  background: #1e2428;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 62px;
  padding: 0 16px;
}

.chat__footer > button {
  flex: 0.05;
}

.chat__footer form {
  flex: 0.9;
}

.chat__footer > .MuiSvgIcon-root {
  color: grey;
  font-size: 1.9rem;
}

.chat__footer form input {
  width: 100%;
  background: #33383b;
  border: none;
  border-radius: 2rem;
  padding: 13px;
  border: 1px solid #33383b;
  color: #fff;
}

.chat__footer form input::placeholder {
  color: grey;
}

.chat__footer form button {
  display: none;
}

.chat__message {
  position: relative;
  margin: 0.8em 0;
  width: fit-content;
  position: relative;
  background: #262d31;
  color: #f8f8f8;
  padding: 12px 1rem;
  border-radius: 7.5px;
  border-top-left-radius: 0;
}

.chat__message::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -17px;
  right: auto;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #262d31;
  border-radius: 5px;
}

.chat__messageSender {
  font-size: x-small;
  position: absolute;
  top: -1rem;
  color: grey;
}

.chat__message span {
  font-size: xx-small;
  margin-left: 10px;
}

.chat__receiver {
  background: #056162;
  margin-left: auto;
  position: relative;
  border-top-right-radius: 0;
  border-top-left-radius: 7.5px;
}

.chat__receiver::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -17px;
  left: auto;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #056162;
  border-radius: 5px;
}
