.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4rem;
}

.modal__container .modal__content {
  padding: 2rem;
  min-width: 400px;
  border-radius: 7.5px;
  background: #2a2f32;
  box-shadow: 0 7px 50px rgba(0, 0, 0, 0.19);
}

.modal__container .modal__content h3 {
  color: lightgrey;
  font-weight: normal;
  margin-bottom: 28px;
}

.modal__content .input__newChat {
  margin-bottom: 1rem;
  border-radius: 7.5px;
  background: #16181a;
}

.modal__content .input__newChat input {
  background: transparent;
  width: 100%;
  color: grey;
  border: none;
  padding: 14px 15px;
}

.modal__content .modal__actions {
  display: flex;
  justify-content: flex-end;
}

.modal__content
  .modal__actions
  .MuiButtonBase-root.MuiButton-root.MuiButton-text {
  background: #056162;
  color: #fff;
  padding: 10px 18px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.19);
}
