.sidebar__chats {
  background: #131c21;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.sidebar__chats .sidebar__chat {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

.sidebar__chats .sidebar__chat:hover {
  background: #323739;
}

.sidebar__chat .sidebar__chatAvatar {
  flex: 0.1;
}

.sidebar__chats .sidebar__chatInfo {
  flex: 0.9;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 15px;
}

.sidebar__chats .sidebar__chatInfo h3 {
  font-weight: normal;
  color: lightgrey;
}

.sidebar__chats .sidebar__chatInfo p {
  color: grey;
}
