.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar__header {
  width: 100%;
  background: #2a2f32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.sidebar__headerLeft {
  width: 50%;
}

.sidebar__headerRight {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__headerRight .MuiSvgIcon-root {
  color: grey;
}

.sidebar__search {
  background: #131c21;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid grey;
}

.sidebar__search .sidebar__searchInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #323739;
  color: grey;
  padding: 10px;
  border-radius: 2rem;
}

.sidebar__search .sidebar__searchInput > input {
  margin-left: 1.3rem;
  color: grey;
  border: none;
  background: transparent;
}
