.login {
  background: #090e11;
  height: 100vh;
  width: 100%;
  position: relative;
}

.login__header {
  background: #00bfa5;
}

.login__header .login__headerContainer {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 8rem;
}

.login__header .login__headerContainer > svg {
  margin-right: 20px;
}

.login__header .login__headerContainer h1 {
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  font-size: medium;
}
