.login {
  background: #090e11;
  height: 100vh;
  width: 100%;
  position: relative;
}

.login__header {
  background: #00bfa5;
}

.login__header .login__headerContainer {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 8rem;
}

.login__header .login__headerContainer > svg {
  margin-right: 20px;
}

.login__header .login__headerContainer h1 {
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  font-size: medium;
}

.login .login__container {
  width: 70%;
  position: absolute;
  z-index: 10;
  background: #fff;
  padding: 4rem;
  bottom: 55%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19),
    0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.login .login__container {
  text-align: center;
}

.login .login__container h1 {
  color: #525252;
  font-size: 26px;
  margin-bottom: 28px;
  font-weight: normal;
}
