* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.app .sidebar {
  flex: 30%;
  position: relative;
  border-right: 1px solid grey;
}

.app .chat {
  flex: 70%;
}

.app .homescreen {
  flex: 70%;
}
